<h2 class= "text-center"><%= @group.name %></h2>
<p class="text-muted">作成者：<%= @group.owner.name %></p>
<div class="mt-3">
  <h4>紹介文</h4>
  <p><%= simple_format(@group.introduction) %></p>
</div>

<div>
  <% if @group.owner == current_user %>
    <%= link_to "編集", edit_group_path(@group), class: "btn btn-success mr-1" %> |
    <%= link_to "削除", group_path(@group), method: :delete,
        data: { confirm: "本当に削除しますか？" },
        class: "btn btn-danger ml-1" %>
  <% end %>
</div>

<% unless @group.owner == current_user || @group.users.include?(current_user) %>
  <%= button_to "参加申請する", group_group_users_path(@group), method: :post, class: "btn btn-primary" %>
<% end %>

<hr>

<% if @group.owner == current_user %>
  <h4>申請中のユーザー</h4>
  <% if @group.group_users.pending.any? %>
    <% @group.group_users.pending.each do |member| %>
      <p>
        <%= member.user.name %>
        <%= button_to "承認", approve_group_group_user_path(@group,member), method: :patch, class: "btn btn-success btn-sm" %>
        <%= button_to "拒否", reject_group_group_user_path(@group,member), method: :patch, class: "btn btn-danger btn-denger btn-sm" %>
      </p>
    <% end %>
  <% else %>
    <p>現在。申請中のユーザーはいません。</p>
  <% end %>
<% end %>
<hr>

<div class="row">
  <div class="col-md-3">
    <h4>メンバー一覧</h4>
    <ul>
      <li><strong><i class="fa-solid fa-crown"></i><%= @group.owner.name %></strong></li>
      <% @group.group_users.approved.each do |member| %>
        <li><%= member.user.name %></li>
      <% end %>
    </ul>
    <% if @group.owner != current_user && @group.users.include?(current_user) %>
      <%= button_to "グループを退会する", leave_group_group_user_path(@group.group_users.find_by(user: current_user)), method: :delete, class: "btn btn-warning mt-3" %>
    <% end %>
  </div>
  
  <div class="col-md-8 offset-md-1">
    <p class="text-center">チャット欄作成予定</p>
  </div>
</div>

<div class="mt-3">
  <%= link_to "グループ一覧に戻る", groups_path, class: "text-secondary link-underline-opacity-100-hover" %>
</div>