<div class="row">
  <h1 class="mb-3">私の参拝帖</h1>
</div>
<table class="table">
  <tbody>
    <tr>
    <th>
    <%= link_to edit_user_path(@mypage) do %>
      <%= image_tag @mypage.get_profile_image(100,100) %>
    <% end %>
    </th>
    <th><h3><%= @mypage.name %></h3></th>
    </tr>
  </tbody>
</table>
<br>
  <p><%= @mypage.introduction %></p>
<% unless @mypage.guest_user? %>
  <div class="row">
    <%= link_to "プロフィールを編集する", edit_user_path(@mypage), class: "btn btn-outline-secondary btn-block mt-3" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </div>
<% end %>
<div class="row">
  <%= link_to "新しい記を綴る", new_post_path(@post_new), class: "mt-1" %>
</div>
<div class="row">
  <h3 class="mt-5">参拝記録</h3>
  <%= render "searches/form" %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>神社名</th>
        <th>記録</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @posts %>
    </tbody>
  </table>

</div>
<div class="row">
  <%= link_to "一覧へ戻る", posts_path %>
</div>
