<h2>投稿一覧</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.shirine_name %></td>
      <td><%= post.address %></td>
      <td class="text-wrap" style="max-width: 200px; word-break: break-word;"><%= post.body %></td>
      <td><%= image_tag post.get_image(100,100) %></td>
      <td><%= link_to '削除',admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "戻る", admin_dashboards_path %> 