<h1>季節の行事</h1>
<p></p>

<%= form_with model: @calendar, local: true do |f| %>
  <div>
    <%= f.label :event, "行事名" %>
    <%= f.text_field :event %>
  </div>

  <div>
    <%= f.label :prefecture, "都道府県" %>
    <%= f.text_field :prefecture %>
  </div>

  <div>
    <%= f.label :city, "市区町村" %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date, "終了日" %>
    <%= f.date_field :end_date %>
  </div>

  <%= f.submit "登録" %>
<% end %>
<div id="calendar"></div>
<%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' %>
