<%= form_with model: post do |f| %>

  <h4 class="pb-3">写真</h4>
  <%= f.file_field :image, accept: "image/*", required: false, class: "pb-3" %>
  <h4>神社の名前</h4>
  <%= f.text_field :shirine_name, class: "form-control", id: "shirine_name" %>
  <h4>住所</h4>
  <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
      </div>
      <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
    </div>
    <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
      </div>
      <%= f.hidden_field :latitude, id: "post_latitude" %>
      <%= f.hidden_field :longitude, id: "post_longitude" %>
      <%= f.text_field :address, class: "form-control", placeholder: "住所", id: "post_address" %>
    </div>
  <h4>本文</h4>
  <%= f.text_area :body, class: "form-control", id: "body" %></br>
  
  <h4>駐車場の有無</h4>
  <%= f.radio_button :parking, Post.parkings.key(0),id: "post_parking_0" %>
  <%= f.label :parking, Post.parkings_i18n[:unavailable], value: Post.parkings.key(0), for: "post_parking_0" %>
  <%= f.radio_button :parking, Post.parkings.key(1), id: "post_parking_1" %>
  <%= f.label :parking, Post.parkings_i18n[:available], value: Post.parkings.key(1), for: "post_parking_1" %></br>
  <h4>御朱印の有無</h4>
  <%= f.radio_button :shirine_stamp, Post.shirine_stamps.key(0), id: "post_shirine_stamp_0" %>
  <%= f.label :shirine_stamp, Post.shirine_stamps_i18n[:no_stamp], value: Post.shirine_stamps.key(0), for: "post_shirine_stamp_0" %>
  <%= f.radio_button :shirine_stamp, Post.shirine_stamps.key(1), id: "post_shirine_stamp_1" %>
  <%= f.label :shirine_stamp, Post.shirine_stamps_i18n[:has_stamp], value: Post.shirine_stamps.key(1), for: "post_shirine_stamp_1" %></br>
  <h4>季節限定の御朱印</h4>
  <%= f.select :seasonal_stamp, options_for_select(Post.seasonal_stamps_i18n.invert), class: "mb-5" %><br>
  <br>
  <%= f.label :tag_name, "タグ（スペースまたはカンマ区切り）" %>
  <%= f.text_field :tag_name, class: "form-control", placeholder: "例）八幡宮, 神宮, 大社", value: @tag_list %>

  <%= f.submit '投稿', class: "my-5 btn btn-outline-success" %>
<% end %><br>


