<h1>参拝記録編集</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <%= render 'form', post: @post %>
</div>

<%= link_to "一覧へ戻る", posts_path %> |
<%= link_to "参拝記へ戻る", post_path %>