<h1>参拝記録編集</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render 'form', post: @post %>
  </div>
  <div class="col-md-7 offset-md-1">
    <div id="map_form" style="width:100%; height:500px;"></div>
  </div>
</div>

<%= link_to "一覧へ戻る", posts_path, class: "text-secondary link-underline-opacity-100-hover" %> |
<%= link_to "参拝記へ戻る", post_path, class: "text-secondary link-underline-opacity-100-hover" %>

<%= javascript_pack_tag 'map_form', 'data-turbolinks-track': 'reload' %>