<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <%= image_tag post.get_image(500,500) %>
  <table>
    <tr>
      <th>
        <%= post.shirine_name %>
      </th>
    </tr>
    <tr>
      <th>
        <%= post.body %>
      </th>
    </tr>
      <th>
        <%= image_tag 'no_image.jpg' %>
      </th>
      <th>
        <%= post.user.name %>
      </th>
    </tr>
  </table>
<% end %>

