<div class="row-center">
  <h1 class="pb-3">神社の投稿をしよう！</h1>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul class="text-danger">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render 'form', post: @post %>
  </div>
  <div class="col-md-7 offset-md-1">
    <div id="map" style="width:100%; height:500px;"></div>
  </div>
</div>
<div class="row">
  <%= link_to "戻る", posts_path, class: "m-3" %> 
</div>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "map_form", 'data-turbolinks-track': 'reload' %>