<div class="row">
  <h1>参拝記</h1>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          <%= link_to user_path(@user) do %>
            <%= image_tag @user.get_profile_image(100,100) %>
          <% end %>
        </th>
        <th>
          <%= link_to @post.user.name, user_path(@user.id) %>
        </th>
      </tr>
      <tr>
        <th>
          <p class="">神社の名前：<%= @post.shirine_name %></p>
          <% if @post.tags.any? %>
            <p>タグ：
              <% @post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag), class: "badge rounded-pill bg-primary text-light" %>
              <% end %>
            </p>
          <% end %>
        </th>
        <th><%= render "likes/like", post: @post %></th>
      </tr>
      <tr>
        <th><span><i class="fa-solid fa-location-dot"></i><%= @post.address %></th>
      </tr>
      <tr>
        <th>駐車場の有無：<%= @post.parking_i18n %></th>
      </tr>
      <tr>
        <th>御朱印の有無：<%= @post.shirine_stamp_i18n %></th>
      </tr>
      <tr>
        <th>季節限定の御朱印： <%= @post.seasonal_stamp_i18n %></th>
      </tr>
      <tr>
        <th>
          <span class="text-wrap"><%= @post.body %></span>
        </th>
      </tr>
      <tr>
        <th>
          <p>参拝日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        </th>
      </tr>
      <tr>
        <th><%= image_tag @post.get_image(500,500) %></th>
        <% if @post.user == current_user %>
          <th><%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %></th>
        <% end %>
      </tr>
      <tr>
        <th>
          <p><%= @post.post_comments.count %> 件のコメント</p>
          <% @post.post_comments.each do |post_comment| %>
            <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
            <%= post_comment.user.name %>：
            「 <%= post_comment.comment %> 」
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% end %>
          <% end %>
          <div>
            <% if current_user&.guest_user? %>
              <h5 class="bg-danger text-white mt-3">ゲストユーザーはコメントの投稿ができません</h5>
            <% else %>
              <%= form_with model: [@post, @post_comment] do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントする", class: "form-control" %><br>
                <%= f.submit "送信", class: "btn btn-outline-success" %>
              <% end %>
            <% end %>
          </div>
        </th>
      </tr>
    </thead>
  </table>
  <div class="col mt-5">
    <p>＜<%= link_to "一覧へ戻る", posts_path, class: "text-secondary link-underline-opacity-100-hover" %> | 
    <% if @post.user == current_user %>
      <%= link_to "参拝記録を編集", edit_post_path, class: "text-secondary link-underline-opacity-100-hover" %>
    <% end %></p>
  </div>
</div>