<h2>グループ一覧</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>紹介文</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= truncate(group.introduction, length: 50, omission: '…続きを読む') %></td>
        <td><%= image_tag group.get_image(80,80) %></td>
        <td><%= link_to '削除',admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-outline-danger  btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
<br>
<%= link_to "戻る", admin_dashboards_path, class: "text-secondary link link-opacity-50-hover mt-3" %> 