<h2>グループ一覧</h2>
<table>
  <thead>
    <tr>
      <th>グループ名</th>
      <th>紹介文</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.introduction %></td>
        <td><%= image_tag group.get_image(100,100) %></td>
        <td><%= link_to '削除',admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "戻る", admin_dashboards_path %> 