<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= link_to '削除',admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？'} %>
    </li>
  <% end %>
  <br>
  <h1>投稿一覧</h1>
  <% @posts.each do |post| %>
    <li>
      <%= post.shirine_name %> <br>
      <%= post.address %> <br>
      <%= post.body %> <br>
      <%= image_tag post.get_image(100,100) %><br>

    </li>
  <% end %>
  <br>
  <h1>コメント一覧</h1>
</ul>