<h1 class="text-center mt-3">管理者ダッシュボード</h1>

<div class="container mt-5">
  <div class="row g-4">
    <div class="col-md-6 mt-4">
      <div class="card bg-secondary border-primary shadow-lg h-100">
        <div class="card-body">
          <h2 class="card-title text-light">ユーザー</h2>
          <%= link_to "ユーザー管理へ", admin_users_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card bg-secondary border-danger shadow-lg h-100">
        <div class="card-body">
          <h2 class="card-title text-light">投稿管理</h2>
          <%= link_to "投稿管理へ", admin_posts_path, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card  bg-secondary border-success shadow-lg h-100">
        <div class="card-body">
          <h2 class="card-title text-light">コメント管理</h2>
          <%= link_to "コメント管理へ", admin_post_comments_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>


    <div class="col-md-6 mt-4">
      <div class="card  bg-secondary border-warning shadow-lg h-100">
        <div class="card-body">
          <h2 class="card-title text-light">グループ管理</h2>
          <%= link_to "グループ管理へ", admin_groups_path, class: "btn btn-outline-warning" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card  bg-secondary border-info shadow-lg h-100">
        <div class="card-body">
          <h2 class="card-title text-light">カレンダー管理</h2>
          <%= link_to "カレンダー管理へ", admin_calendars_path, class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>
</div>