<!DOCTYPE html>
<html>
  <head>
    <title>Jinjameguri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5c9065dcd4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-md">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span><i class="fa-solid fa-torii-gate"></i> 巡んじゃ</span></a>
          <button class="navbar-toggler" type="buttan" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-lable="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ご案内", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    投稿
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item">
                      <%= link_to posts_path, class: "nav-lin text-info" do %>
                        <i class="fa-solid fa-newspaper"></i>
                        参拝記一覧
                      <% end %>
                    </div>
                    <div class="dropdown-item">
                      <% unless current_user&.guest_user? %>
                        <%= link_to new_post_path, class: "nav-link text-info", data: {turbolinks: "false"} do %>
                          <i class="fa-solid fa-file-pen"></i>
                          新しい記を綴る
                        <% end %>
                      <% end %>
                    </div>
                    <div class="dropdown-item">
                      <%= link_to mypage_path, class: "nav-link text-info" do %>
                        <i class="fa-solid fa-id-card"></i>
                        私の参拝帖
                      <% end %>
                    </div>
                    <div class="dropdown-item">
                      <%= link_to users_path, class: "nav-link text-info" do %>
                        <i class="fa-solid fa-user-group"></i>
                        参拝者一覧
                      <% end %>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <%= link_to groups_path, class: "nav-link" do %>
                    <i class="fa-solid fa-users"></i>
                    ぶらり参拝会
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to calendars_path, class: "nav-link" do %>
                    <i class="fa-solid fa-calendar"></i>
                    季節の行事
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to "門を出る", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "はじめる", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "門をくぐる", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="md-auto flex-grow-1">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %> "><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container text-center">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>神社好きのためのコミュニティサイト</p>
          </div>
          <div class="col-md-8">
            <ul class="p-0 list-unstyled">
              <li>
                <a title="巡んじゃ" class="text-white-50" href="/"><span class="text-white-50"><i class="fa-solid fa-torii-gate"></i> 巡んじゃ</span></a>
              </li>
              <li>
                <a href="" title="ご案内" class="text-white-50">概要欄</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>" async defer></script>
  </body>
</html>