<!DOCTYPE html>
<html>
  <head>
    <title>Jinjameguri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5c9065dcd4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>巡んじゃ</span></a>
          <button class="navbar-toggler" type="buttan" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-lable="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ご案内", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "参拝記一覧", posts_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新しい記を綴る", new_post_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "私の参拝帖", mypage_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "グループ一覧", groups_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "門を出る", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "はじめる", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "門をくぐる", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="flash_message <%= message_type %> "><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>